<html>

  <head>
    <title>Login page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/client.js" defer></script>
  </head>


  <body>
    <div class="app">
      <h1 class="title">My Game List</h1>

<div class="container">

<div class="row" style="margin-top:20px">
    <div class="sign">

        <h2>Please Sign In</h2>

        <div id="sign_in_form">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#sign_in" aria-expanded="true" aria-controls="sign_in">Sign in</button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#sign_up" aria-expanded="false" aria-controls="sign_up">Sign up</button>
        </div>
        <div class="collapse" id="sign_in">
          <form method="post" action="/login">
          <input label="username" type="text" placeholder="Enter username"></input>
          <input label="password" type="text" placeholder="Enter password"></input>
          <button id="bsign_in" type="submit">Sign in</button>
      </form>
        </div>
        <div class="collapse" id="sign_up">
          <input class="username" placeholder="Enter username"></input>
          <input class="password" placeholder="Enter password"></input>
          <input class="re_password" placeholder="Confirm password"></input>
          <button id="bsign_up" type="submit">Sign up</button>
        </div>
      </div>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</html>
