<html>

	<head>
		<meta charset="utf-8">
		<title>My Game List</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../public/css/css_project.css">
	</head>

	<body>
		<div class="app">
		
			
  <div class="title">My Game List</div>
  <div>Welcome User</div>
 
			<div id="gamesList" >
				<section >
 			 <div class="container ">
				<div class="card pb-4 "  class="game" v-for="(game, index) in games">
						 <div class="row ">
        				<div class="col-md-4">
        					<img v-bind:src=game.picture alt="no image" >
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title" >{{game.name  }}</h4>
					<p class="card-text" >{{game.editor}} </p>
              <p class="card-text">{{game.date}}</p>
<div class="inline">
						<select v-model="selected[game.id]">
 							<option  v-for="option in options" v-bind:value="option.value">{{ option.text }}</option>
						</select>
					<div class=" text-right pb-9">	<button v-on:click="countMinus(game.id)" class="btn">-</button>

		  			<p class="counter">{{rates[game.id]}}</p>
		  			<button v-on:click="countAdd(game.id)" class="btn">+</button>
		  		</div>
		  		</div>
					</div>
				</div>
			</div>
		</div>
		</div>	
	</div>
</div>
	</div>
	</section>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="text/javascript" src="../public/js/script_project.js"></script>
</html>
